# This file is a template for the ArgoCD TLS secret.
# You need to provide your own TLS certificate and key.
# Create a secret with the following command:
# kubectl create secret tls argocd-server-tls --cert=<path-to-cert> --key=<path-to-key> -n argocd --dry-run=client -o yaml > argocd-tls-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: argocd-server-tls
  namespace: argocd
type: kubernetes.io/tls
data:
  tls.crt: {{ argocd_tls_cert }}
  tls.key: {{ argocd_tls_key }}
