apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
  namespace: argocd
spec:
  template:
    spec:
      containers:
      - name: argocd-server
        args:
        - /usr/local/bin/argocd-server
        - --tls-cert-path=/app/config/customer/tls/tls.crt
        - --tls-key-path=/app/config/customer/tls/tls.key
        volumeMounts:
        - name: argocd-server-tls
          mountPath: /app/config/customer/tls
      volumes:
      - name: argocd-server-tls
        secret:
          secretName: argocd-server-tls
