apiVersion: v1
kind: ConfigMap
metadata:
  name: asgardeo-config
  namespace: phoenix-app
data:
  ASGARDEO_TENANT_DOMAIN: "theenukagranex"
  ASGARDEO_CLIENT_ID: "iYcA_MO8LwTND_hvunAg8VvBHDua"
  ASGARDEO_ORG_URL: "https://api.asgardeo.io/t/theenukagranex"
  ASGARDEO_ISSUER: "https://api.asgardeo.io/t/theenukagranex/oauth2/token"
  ASGARDEO_JWKS_URL: "https://api.asgardeo.io/t/theenukagranex/oauth2/jwks"
