---
- name: Ensure .kube directory exists for root
  file:
    path: /root/.kube
    state: directory
    mode: 0755

- name: Copy admin.conf to root's kube config
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    remote_src: yes
    mode: 0600

- name: Create argocd namespace
  shell: kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -

- name: Install ArgoCD
  shell: kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

- name: Wait for ArgoCD server to be ready
  shell: kubectl wait --for=condition=available deployment/argocd-server -n argocd --timeout=300s

- name: Patch ArgoCD Server to LoadBalancer
  shell: |
    kubectl patch svc argocd-server -n argocd -p '{"metadata": {"annotations": {"service.beta.kubernetes.io/aws-load-balancer-type": "nlb"}}, "spec": {"type": "LoadBalancer"}}'

- name: Install python3-pip
  apt:
    name: python3-pip
    state: present
    update_cache: yes

- name: Install bcrypt
  pip:
    name: bcrypt
    executable: pip3

- name: Generate bcrypt hash for password
  shell: python3 -c 'import bcrypt; print(bcrypt.hashpw(b"Fl@menco17", bcrypt.gensalt()).decode("utf-8"))'
  register: password_hash

- name: Update ArgoCD admin password
  shell: |
    kubectl -n argocd patch secret argocd-secret \
      -p '{"stringData": { "admin.password": "{{ password_hash.stdout }}", "admin.passwordMtime": "'$(date +%FT%T%Z)'" }}'

- name: Delete Initial Admin Secret
  shell: kubectl -n argocd delete secret argocd-initial-admin-secret --ignore-not-found

- name: Create App of Apps Manifest
  copy:
    dest: /tmp/app-of-apps.yaml
    content: |
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: app-of-apps
        namespace: argocd
      spec:
        project: default
        source:
          repoURL: https://github.com/theenuka/pheonix-booking-config-repo.git
          targetRevision: HEAD
          path: app-of-apps
        destination:
          server: https://kubernetes.default.svc
          namespace: argocd
        syncPolicy:
          automated:
            prune: true
            selfHeal: true

- name: Apply App of Apps
  shell: kubectl apply -f /tmp/app-of-apps.yaml
