---
- name: Create argocd namespace
  kubernetes.core.k8s:
    name: argocd
    api_version: v1
    kind: Namespace
    state: present

- name: Install ArgoCD
  kubernetes.core.k8s:
    src: "{{ role_path }}/../../../k8s/argocd-install.yaml"
    state: present
    namespace: argocd

- name: Install Argo CD Image Updater
  kubernetes.core.k8s:
    src: "{{ role_path }}/../../../k8s/argocd-image-updater-install.yaml"
    state: present
    namespace: argocd

- name: Wait for ArgoCD server to be ready
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: argocd-server
    namespace: argocd
  register: argocd_server_deployment
  until: "argocd_server_deployment.resources[0].status.availableReplicas is defined and argocd_server_deployment.resources[0].status.availableReplicas > 0"
  retries: 30
  delay: 10

- name: Create ArgoCD TLS Secret from template
  template:
    src: argocd-tls-secret.yaml.j2
    dest: /tmp/argocd-tls-secret.yaml

- name: Apply ArgoCD TLS Secret
  kubernetes.core.k8s:
    src: /tmp/argocd-tls-secret.yaml
    state: present

- name: Create ArgoCD Server Deployment with TLS from template
  template:
    src: argocd-server-deployment-tls.yaml.j2
    dest: /tmp/argocd-server-deployment-tls.yaml

- name: Apply ArgoCD Server Deployment with TLS
  kubernetes.core.k8s:
    src: /tmp/argocd-server-deployment-tls.yaml
    state: present

- name: Create ArgoCD Ingress Manifest from template
  template:
    src: argocd-ingress.yaml.j2
    dest: /tmp/argocd-ingress.yaml

- name: Apply ArgoCD Ingress
  kubernetes.core.k8s:
    src: /tmp/argocd-ingress.yaml
    state: present

- name: Create Root App Manifest from template
  template:
    src: root-app.yaml.j2
    dest: /tmp/root-app.yaml

- name: Apply Root App
  kubernetes.core.k8s:
    src: /tmp/root-app.yaml
    state: present